### About

#### Build a machine learning model that can calculate the time the delivery person takes to deliver the order.

#### The train data contains 45593 rows and the test data has 11399 rows. But for both datasets, each row is in a separate text file.

In [4]:
with open("../input/amazon-business-research-analyst/dataset/train/0.txt") as file:
    rows=file.read().split("\n\n")

In [6]:
for row in rows:
    print(row)

ID                                     0x4607
Delivery_person_ID             INDORES13DEL02
Delivery_person_Age                 37.000000
Delivery_person_Ratings              4.900000
Restaurant_latitude                 22.745049
Restaurant_longitude                75.892471
Delivery_location_latitude          22.765049
Delivery_location_longitude         75.912471
Order_Date                         19-03-2022
Time_Orderd                             11:30
Time_Order_picked                       11:45
Weather conditions                      Sunny
Road_traffic_density                     High
Vehicle_condition                           2
Type_of_order                           Snack
Type_of_vehicle                    motorcycle
multiple_deliveries                  0.000000
Festival                                   No
City                                    Urban
Time_taken (min)                    24.000000
Name: 0, dtype: object

#### By using the text file information we can convert each file into rows.

### Import Necessary Packages and Libraries

In [1]:
import pandas as pd
import os

### Create a function to extract the information from the text file and make a dataframe from the extracted data.

In [23]:
def data_set_create(path,dataset=""):
    
    cols=['file_name','ID' ,'Delivery_person_ID','Delivery_person_Age','Delivery_person_Ratings',
          'Restaurant_latitude','Restaurant_longitude','Delivery_location_latitude',
          'Delivery_location_longitude','Order_Date','Time_Orderd','Time_Order_picked',
          'Weather conditions','Road_traffic_density','Vehicle_condition',
          'Type_of_order','Type_of_vehicle','multiple_deliveries','Festival',
          'City','Time_taken (min)']
    
    if dataset is 'train':
        df=pd.DataFrame(columns=cols)
    else:
        df=pd.DataFrame(columns=cols[:-1])
        
    
    files_all=[]
    for file in os.listdir(path):
        if file.endswith(".txt"):
            files_all.append(f"{file}")
    
 
    for j, file in enumerate(files_all):
        value=[]
        with open(path+file,'r') as f:
            line=f.read().split('\n\n')
            line=[l.split('\n') for l in line]
        value.append(file.strip(".txt"))
        if dataset is 'train':
            for i, l in enumerate(line):
                for c in cols[1:]:
                    value.append((l[i].strip(c).strip(" ")))
                    i+=1 
            dff.loc[len(df)] = value
        elif dataset is 'test':
            for i, l in enumerate(line):
                for c in cols[1:-1]:
                    value.append((l[i].strip(c).strip(" ")))
                    i+=1
            df.loc[len(df)] = value
        else:
            pass
 
    df=pd.DataFrame(df)            
    return df

### Create train dataset

In [ ]:
train=data_set_create("../input/amazon-business-research-analyst/dataset/train/" ,dataset='train')

### Create test dataset

In [24]:
test=data_set_create("../input/amazon-business-research-analyst/dataset/test/" ,dataset='test')

### The final train data

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file_name                    45593 non-null  int64
 1   ID                           45593 non-null  object
 2   Delivery_person_ID           45593 non-null  object
 3   Delivery_person_Age          43739 non-null  float64
 4   Delivery_person_Ratings      43685 non-null  float64
 5   Restaurant_latitude          45593 non-null  float64
 6   Restaurant_longitude         45593 non-null  float64
 7   Delivery_location_latitude   45593 non-null  float64
 8   Delivery_location_longitude  45593 non-null  float64
 9   Order_Date                   45593 non-null  object
 10  Time_Orderd                  43862 non-null  object
 11  Time_Order_picked            45593 non-null  object
 12  Weather conditions           44977 non-null  object
 13  Road_traffic_density         44992 non-null  object
 14  Vehicle_condition            45593 non-null  int64
 15  Type_of_order                45593 non-null  object
 16  Type_of_vehicle              45593 non-null  object
 17  multiple_deliveries          44600 non-null  float64
 18  Festival                     45365 non-null  object
 19  City                         44393 non-null  object
 20  Time_taken (min)             45593 non-null  float64
dtypes: float64(8), int64(2), object(11)
memory usage: 7.3+ MB

In [10]:
train.head()

,file_name,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,...,Time_Order_picked,Weather conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,22341,0x1634,COIMBRES02DEL01,33.0,4.9,11.022477,76.995667,11.132477,77.105667,16-03-2022,...,23:10,Sandstorm,Low,0,Meal,motor,1.0,No,Metropolitian,29.0
1,20430,0x9d56,RANCHIRES18DEL02,32.0,4.1,23.351489,85.324253,23.371489,85.344253,26-03-2022,...,11:20,Stormy,High,2,Drinks,scooter,2.0,No,Metropolitian,34.0
2,37824,0x44a8,COIMBRES01DEL01,35.0,4.8,11.016298,76.972076,11.126298,77.082076,06-03-2022,...,18:45,Fog,Medium,0,Buffet,motor,2.0,No,Urban,37.0
3,36230,0xc01,INDORES01DEL01,24.0,4.5,22.695207,75.866059,22.705207,75.876059,19-03-2022,...,9:15,Stormy,Low,2,Meal,motor,0.0,No,Metropolitian,10.0
4,1893,0x311e,CHENRES17DEL02,33.0,4.5,13.045479,80.233110,13.095479,80.283110,28-03-2022,...,18:05,Stormy,Medium,1,Buffet,motor,1.0,No,Metropolitian,27.0

### The final test data

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11399 entries, 0 to 11398
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file_name                    11399 non-null  int64
 1   ID                           11399 non-null  object
 2   Delivery_person_ID           11399 non-null  object
 3   Delivery_person_Age          10908 non-null  float64
 4   Delivery_person_Ratings      10892 non-null  float64
 5   Restaurant_latitude          11399 non-null  float64
 6   Restaurant_longitude         11399 non-null  float64
 7   Delivery_location_latitude   11399 non-null  float64
 8   Delivery_location_longitude  11399 non-null  float64
 9   Order_Date                   11399 non-null  object
 10  Time_Orderd                  10955 non-null  object
 11  Time_Order_picked            11399 non-null  object
 12  Weather conditions           11241 non-null  object
 13  Road_traffic_density         11245 non-null  object
 14  Vehicle_condition            11399 non-null  int64
 15  Type_of_order                11399 non-null  object
 16  Type_of_vehicle              11399 non-null  object
 17  multiple_deliveries          11161 non-null  float64
 18  Festival                     11334 non-null  object
 19  City                         11075 non-null  object
dtypes: float64(7), int64(2), object(11)
memory usage: 1.7+ MB

In [11]:
test.head()

,file_name,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
0,52583,0x84b8,RANCHIRES19DEL03,39.0,4.9,23.333017,85.317200,23.363017,85.347200,17-03-2022,23:55,24:05,Cloudy,Low,1,Drinks,motor,1.0,No,Urban
1,52300,0x5cc8,INDORES11DEL03,36.0,3.3,22.751234,75.889490,22.841234,75.979490,29-03-2022,23:20,23:30,Sunny,Low,0,Drinks,motor,0.0,No,Metropolitian
2,46107,0x7bdf,PUNERES08DEL02,24.0,4.8,18.534080,73.898520,18.664080,74.028520,04-04-2022,18:25,18:30,y,Medium,0,Drinks,motor,1.0,No,Metropolitian
3,56874,0x60f4,JAPRES20DEL03,35.0,4.7,26.956431,75.776649,27.046431,75.866649,12-03-2022,18:45,18:50,Cloudy,Medium,0,Drinks,motor,1.0,No,Metropolitian
4,55411,0x9cf9,INDORES17DEL01,30.0,4.2,22.761226,75.887522,22.771226,75.897522,30-03-2022,8:40,8:55,Stormy,Low,0,Snack,motor,0.0,No,Metropolitian